body {
	/*background-color: blue;*/
}

#mesh{
	max-width: 100%;
  max-height: 100%;
}
#onetomany{
	max-width: 100%;
  max-height: 100%;
}
.center {
	margin: 0 auto;
	text-align: center;
}
#mesh {
	/*margin-left: 30px;*/
}

#onetomany {
	/*margin-left: 80px;*/
}

#conspectiomodel {
	margin: 0 auto;
}
.topmargin {
	margin-top: 20px;
}
#npm {
	width: 200px;
}
.shorthr {
	width: 5%;
}