body {
	/*background-color: blue;*/
}

#mesh{
	max-width: 100%;
  max-height: 100%;
}
#onetomany{
	max-width: 100%;
  max-height: 100%;
}
.center {
	margin: 0 auto;
	text-align: center;
}
#mesh {
	margin-left: 30px;
}

#onetomany {
	margin-left: 80px;
}

#relaypeople {
	margin: 0 auto;
}
.topmargin {
	margin-top: 20px;
}
#npm {
	width: 200px;
}
.shorthr {
	width: 5%;
}

#conspectioLogo {
	max-width: 60%;
	margin: 0 auto;
}
.containersmall {
	max-width: 80%;
	margin: 0 auto;
}

#demovideo {
	max-width: 60%;
}